{% load static %}

<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<!--한글 에러 방지-->

		<title>주택 매매 가격 동향</title>

		<link
			rel="stylesheet"
			href="{% static 'css/style.css' %}"
			type="text/css"
		/>
	</head>

	<body>
		<header>
			<button
				class="Button"
				type="button"
				onclick="location.href='{% url 'trades:index' %}';"
			>
				Home
			</button>

			<!-- 제목 -->
			<div id="Title" class="Title">
				<p id="Logo" class="Logo">주택 매매 가격 동향</p>
				<p id="SubLogo" class="SubLogo">
					우리 동네에서 부동산 거래 변화가 가장 큰 곳은 어디일까?
				</p>

				<h3 class="Location">
					{% if sido %}
						{% if gugun %}
						<p><u>현재 선택 지역 : {{sido}} {{gugun}}</p></u>
						{% else %}
						<p><u>현재 선택 지역 : {{sido}}</p></u>
						{% endif %}
					{% else %}
					<p><u>현재 선택 지역 : 전국</p></u>
					{% endif %}
				</h3>
			</div>
		</header>

		<main>
			<aside id="Side" class="Side">
				<!-- 등락  -->
				<div id="Info" class="Info">
					<h3 class="SectionName">거래 정보</h3>
					<ul style="list-style-type: none">
						<li>
							<strong>매매 건수</strong> : {{ trading_volume }}건
						</li>
						<li>
							<strong>평균 매매가</strong> : {{ average_price }}
							만원
						</li>
						<li>
							<strong>가장 높은 매매가</strong> :
							{{highest_price}} 만원
						</li>
						<li>
							<strong>가장 낮은 매매가</strong> : {{lowest_price}}
							만원
						</li>
					</ul>
				</div>

				<!-- 지역 선택 -->
				<div id="ChoiceBar" class="ChoiceBar">
					<h3 class="SectionName">지역 선택</h3>
					
					<h5>
						{% if regions %}
						<ul class="tabs">
							{% for region in regions %}
							<li class="tab" style="list-style-type: none">
								{%if sido%}
								<a
									href="{% url 'trades:index' %}?sido_nm={{sido}}&gugun_nm={{region}}"
								>
									{{region}}
								</a>
								{% else %}
								<a
									href="{% url 'trades:index' %}?sido_nm={{region}}"
								>
									{{region}}
								</a>

								{% endif %}
							</li>
							{% endfor %}
						</ul>

						{% else %}
						<p>no regions</p>
						{% endif %}
					</h5>
				</div>
			</aside><!--

                내용
		--><section id="Contents" class="Contents">
				
				<!-- 지도 -->
				<div id="Map" class="Map">
					<h3 class="SectionName">지도</h3>

					{% include "map_visual/sido_map.html" with sido_map=map%}
				</div>
			</section>
		</main>

		<footer>
			<p><em>프로그래머스 데이터엔지니어링 데브코스 프로젝트</em></p>
		</footer>
	</body>
</html>
