{% load static %}

<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<!--한글 에러 방지-->

		<title>주택 매매 가격 동향</title>

		<link
			rel="stylesheet"
			href="{% static 'css/style.css' %}"
			type="text/css"
		/>
	</head>

	<body>
		<header>
			<button class="Button" type="button" onclick="location.href='{% url 'trades:index' %}';">
				Home
			</button>

			<!-- 제목 -->
			<div id="Logo" class="Logo">
				<p>주택 매매 가격 동향</p>
				<p id="SubLogo" class="SubLogo">우리 동네에서 부동산 거래 변화가 가장 큰 곳은 어디일까?</p>
			</div>
		</header>

		<main>
			<!-- 지역 선택 -->
			<aside id="SideBar" class="SideBar">
				<h3 class="SectionName">지역 선택</h3>
				
				<h5>
					{% if regions %}
					<ul class="tabs">
						{% for region in regions %}
						<li class="tab" style="list-style-type:none;">
							{%if sido%}
							<a
								href="{% url 'trades:index' %}?sido_nm={{sido}}&gugun_nm={{region}}"
							>
								{{region}}
							</a>
							{% else %}
							<a
								href="{% url 'trades:index' %}?sido_nm={{region}}"
							>
								{{region}}
							</a>

							{% endif %}
						</li>
						{% endfor %}
					</ul>

					{% else %}
					<p>no regions</p>
					{% endif %}
				</h5>
			</aside><!--

                내용
		--><section id="Contents" class="Contents">
				<!-- 등락  -->
				<div id="updown" class="updown">
					<h3 class="SectionName">거래 정보</h3>
					<ul style="list-style-type:none;">
						<li><strong>매매 건수</strong> : {{ trading_volume }}건</li>
						<li><strong>평균 매매가</strong> : {{ average_price }} 만원</li>
						<li><strong>가장 높은 매매가</strong> : {{ highest_price }} 만원</li>
						<li><strong>가장 낮은 매매가</strong> : {{ lowest_price }} 만원</li>
					</ul>
				</div>

				<!-- 지도 -->
				<div id="map" class="map">
					<h3 class="SectionName">지도</h3>
					{% include "map_visual/sido_map.html" with sido_map=map %}
				</div>
			</section>
		</main>

		<footer>
			<p><em>프로그래머스 데브코스 데이터엔지니어링 프로젝트</em></p>
		</footer>
	</body>
</html>
