{%load static%}
<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<!--한글 에러 방지-->

		<title>주택 매매 가격 동향</title>

		<link
			rel="stylesheet"
			href="{% static 'css/style.css' %}"
			type="text/css"
		/>
	</head>

	<body>
		<header>
			<!-- 제목 -->
			<div id="Logo" class="Logo">
				<h1>주택 실거래 가격</h1>
				<h3>우리 동네에서 부동산 거래 변화가 가장 큰 곳은 어디일까?</h3>
			</div>
		</header>

		<main>
			<!-- 지역 선택 -->
			<div id="SideBar" class="SideBar">
				<h2>지역 선택</h2>
				<h5>
					{% if regions %}
					<ul class="tabs">
						{% for region in regions %}
						<li class="tab">
							{%if sido%}
							<a
								href="{% url 'trades:index' %}?sido_nm={{sido}}&gugun_nm={{region}}"
							>
								{{region}}
							</a>
							{% else %}
							<a
								href="{% url 'trades:index' %}?sido_nm={{region}}"
							>
								{{region}}
							</a>

							{% endif %}
						</li>
						{% endfor %}
					</ul>

					{% else %}
					<p>no regions</p>
					{% endif %}
				</h5>

				<h3>
					<ul>
						<div id="tab1" class="tab_list"></div>
					</ul>
				</h3>
			</div>
			<!--

                내용
            -->
			<div id="Contents" class="Contents">
				<!-- 등락  -->
				<div id="updown" class="updown">
					<h1>등락</h1>
					<li>{{ trading_volume }}건의 거래</li>
					<li>평균 {{ average_price }} 만원</li>
					<li>가장 높은 매매가 : {{ highest_price }} 만원</li>
					<li>가장 낮은 매매가 : {{ lowest_price }} 만원</li>
				</div>

				<!-- 지도 -->
				<div id="map" class="map">
					<h1>지도</h1>
					{% include "map_visual/sido_map.html" with sido_map=map%}
				</div>
			</div>
		</main>
	</body>
</html>
